<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669400544246-nso4bh1vpq2k3hgpg1gd636beiqb66th.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669400544246-nso4bh1vpq2k3hgpg1gd636beiqb66th</string>
	<key>API_KEY</key>
	<string>AIzaSyDIzg7CThWWu1_WmYTMPeuc7pabdQCVlBk</string>
	<key>GCM_SENDER_ID</key>
	<string>669400544246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quantzi.rich</string>
	<key>PROJECT_ID</key>
	<string>richappmarketios</string>
	<key>STORAGE_BUCKET</key>
	<string>richappmarketios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669400544246:ios:47e3e0649183b377becdd7</string>
</dict>
</plist>